In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df= pd.read_csv('/content/50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
df.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [ ]:


# Drop the 'State' column
df = df.drop('State', axis=1)

In [ ]:
df.shape

(50, 4)

In [ ]:
x = df.drop(columns =['Profit'])
y = df['Profit']

In [ ]:
print(x.shape)
print(y.shape)

(50, 3)
(50,)

In [ ]:
X = x.values
y = y.values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(40, 3)
(10, 3)
(40,)
(10,)

In [ ]:
model_multiple = LinearRegression()
model_multiple.fit(X_train, y_train)
y_pred_multiple = model_multiple.predict(X_test)

In [ ]:
mse_multiple = mean_squared_error(y_test, y_pred_multiple)
r2_multiple = r2_score(y_test, y_pred_multiple)
print(f"  Mean Squared Error: {mse_multiple:.4f}")
print(f"  R² Score: {r2_multiple:.4f}")

  Mean Squared Error: 80926321.2230
  R² Score: 0.9001

In [ ]:
model_multiple.intercept_

54071.87574599084

In [ ]:
predictions = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_multiple})
print(predictions.head())

      Actual      Predicted
0  134307.35  126703.027165
1   81005.76   84894.750816
2   99937.59   98893.418160
3   64926.08   46501.708150
4  125370.37  129128.397344

In [ ]:
import pickle
with open('Multiple regression- Startups','wb') as f:
    pickle.dump(model_multiple,f)
with open('Multiple regression- Startups', 'rb') as f:
    clf2 = pickle.load(f)